* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
html {
  font-size: 26.6667vh;
}
body {
  font-size: .14rem;
  display: flex;
  flex-direction: column;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
#haader {
  height: .45rem;
  background-color: #006699;
  display: flex;
  align-items: center;
}
#haader .left {
  width: .4rem;
}
#haader h4 {
  flex: 1;
  color: #fff;
}
#haader .right {
  width: .4rem;
}
#haader .right a {
  color: #fff;
}
#main {
  flex: 1;
}
#footer {
  height: .45rem;
  background-color: #006699;
}
